<div class="text-center muted xsmall" style="margin:14px 0 10px; position:relative;">
    <span style="background:var(--surface); padding:0 10px; position:relative; z-index:1;">hoặc tiếp tục với</span>
    <div class="divider" style="position:absolute; top:50%; left:0; right:0;"></div>
</div>
<button type="button" class="btn btn-block" data-social="Google" style="margin-bottom:8px;">
    <svg width="16" height="16" viewBox="0 0 48 48" aria-hidden="true"><path fill="#FFC107" d="M43.6 20.5H42V20H24v8h11.3C33.7 32.4 29.3 35 24 35c-6.6 0-12-5.4-12-12s5.4-12 12-12c3 0 5.8 1.1 7.9 3l5.7-5.7C34.5 5.1 29.5 3 24 3 12.4 3 3 12.4 3 24s9.4 21 21 21 21-9.4 21-21c0-1.2-.1-2.3-.4-3.5z"/><path fill="#FF3D00" d="m6.3 14.7 6.6 4.8C14.7 16 19 13 24 13c3 0 5.8 1.1 7.9 3l5.7-5.7C34.5 5.1 29.5 3 24 3 16 3 9.1 7.6 6.3 14.7z"/><path fill="#4CAF50" d="M24 45c5.2 0 10-2 13.6-5.2l-6.3-5.3C29.3 35.7 26.8 36.5 24 36.5c-5.3 0-9.7-2.6-11.3-7l-6.5 5C9 41.3 16 45 24 45z"/><path fill="#1976D2" d="M43.6 20.5H42V20H24v8h11.3c-.8 2.2-2.2 4.1-4 5.5l6.3 5.3C41.4 35.9 45 30.5 45 24c0-1.2-.1-2.3-.4-3.5z"/></svg>
    Google
</button>
<button type="button" class="btn btn-block" data-social="Facebook">
    <svg width="16" height="16" viewBox="0 0 24 24" fill="#1877F2" aria-hidden="true"><path d="M24 12.07C24 5.4 18.63 0 12 0S0 5.4 0 12.07C0 18.1 4.39 23.1 10.13 24v-8.44H7.08v-3.49h3.05V9.41c0-3.02 1.79-4.69 4.53-4.69 1.31 0 2.68.24 2.68.24v2.97h-1.51c-1.49 0-1.96.93-1.96 1.89v2.25h3.33l-.53 3.49h-2.8V24C19.61 23.1 24 18.1 24 12.07z"/></svg>
    Facebook
</button>
<p class="xsmall muted text-center mt-8">Đăng nhập mạng xã hội sẽ được kích hoạt khi cấu hình OAuth.</p>
